.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

.accent {
  color: #f8e71c;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 125%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.heading-xxl {
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: 0px;
  color: white;
}

.heading-xl {
  font-family: "Josefin Sans";
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 0px;
}

.heading-whatis {
  font-family: "Josefin Sans";
  font-size: 2.815rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.065rem;
}

.heading-lg {
  font-family: "Josefin Sans";
  font-size: 2.15rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.065rem;
}

.heading-md {
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

.heading-sm {
  font-family: "Josefin Sans";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0px;
}

.form-label {
  font-family: "Josefin Sans";
  font-size: 1rem;
  font-weight: light;
  line-height: 1.6;
  letter-spacing: 0px;
}

@media (min-width: 700px) {
  .heading-xxl {
    font-family: "Josefin Sans";
    font-size: 8.3rem;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: 0px;
  }
  .heading-xl {
    font-family: "Josefin Sans";
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: 0px;
  }
  .heading-whatis {
    font-family: "Josefin Sans";
    font-size: 2.815rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.065rem;
  }
  .heading-lg {
    font-family: "Josefin Sans";
    font-size: 2.15rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.065rem;
  }
  .heading-md {
    font-family: "Josefin Sans";
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.05rem;
  }
  .heading-sm {
    font-family: "Josefin Sans";
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0px;
  }
  .form-label {
    font-family: "Josefin Sans";
    font-size: 1rem;
    font-weight: light;
    line-height: 1.6;
    letter-spacing: 0px;
  }
}

.nav {
  padding: 0.25rem 0;
}

.nav .nav-links {
  display: none;
}

@media (min-width: 700px) {
  .nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .logo {
  color: #f0efed;
  font-size: 1.25rem;
}

.header-home {
  background: url("../../images/home-image-1.jpg");
  background-size: cover;
  background-position: center;
}

.header-home .hero-main {
  width: 100%;
  min-height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-home .hero-main h1 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
/*# sourceMappingURL=styles.css.map */