@keyframes fade-in-up {
	// TODO: is "blinking" potential accessibility issue?
	0% {
		opacity: 0;
	}
	75% {
		transform: translateY(-10%);
	}
	100% {
		opacity: 1;
		transform: translateY(-10%);
	}
}
