/* =========================
 *  Navigation
 * ======================== */

.nav {
    padding: 0.25rem 0;
    .nav-links {
        display: none;

        @media (min-width: $tablet) {
            display: flex;
        }
    }
}

/* =========================
 *  Header
 * ======================== */
.header {
    .logo {
        color: $text-inverse;
        font-size: 1.25rem;
    }
}

.header-home {
    background: url('../../images/home-image-1.jpg');
    background-size: cover;
    background-position: center;

    .hero-main {
        width: 100%;
        min-height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            width: min-content;
        }
    }
}

/* =========================
 *  Footer
 * ======================== */
