/* =========================
 *  Navigation
 * ======================== */

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 1em;
	text-align: center;
	.nav-links {
		display: none;
		font-family: $ff-heading;
		text-transform: uppercase;
		a {
			color: $text-main;
		}
		@media (min-width: $desktop) {
			display: flex;
		}
	}
	// on mobile view
	&.nav-modal {
		.nav-links {
			display: flex;
			flex-direction: column;
			li {
				a {
					display: inline-block;
					padding: 1em;
					font-size: 1.5rem;
				}
			}
			@media (min-width: $desktop) {
				display: none;
			}
		}
	}
}

.nav.navbar {
	.container {
		display: flex;
		align-items: center;
	}

	.nav-links {
		width: auto;
		a {
			color: $text-inverse;
		}
	}
}

.navbar.navbar-bg {
	background: $clr-navbar;
}

/* =========================
 *  Header
 * ======================== */
.header {
	.logo {
		color: $text-inverse;
		font-size: 1.25rem;
	}
}

.header-home {
	background: url('../../images/home-image-1.jpg');
	background-size: cover;
	background-position: center;

	.hero-main {
		width: 100%;
		min-height: $hero-main-height;
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			// text-align: center;
			width: min-content;
			position: relative;
			// align h1 centered around "planted"
			left: 5%;
		}
	}
}

.hero {
	height: $hero-height;
	padding: 4rem;
	background-size: cover;
	display: flex;
	align-items: flex-end;
}

/* =========================
 *  Main
 * ======================== */

/* =========================
 *  Footer
 * ======================== */

.footer {
	padding: 0.25em 0;
	background: $text-main;
	color: $text-inverse;
	text-align: center;
}
