.page-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

/* =========================
 *  Navigation
 * ======================== */

.navbar {
	padding: 1rem 0 0.25rem;

	.container {
		display: flex;
		align-items: center;
	}

	.nav-links {
		font-size: 1rem;
	}
}

.navbar.navbar-bg {
	background: var(--clr-navbar);
}

/* Hover Animation */
.navbar .nav-links > li {
	position: relative;
	@include underline-after;

	&:not(.active):hover,
	// Used focus-within on li for catching tab focus on anchor tag
	// If you used :focus, li is not able to catch anchor tag focused by tabbing.
	&:not(.active):focus-within {
		@include underline-after-hover;
		a {
			animation: fade-in-up 0.8s ease forwards;
		}
	}
}

/* =========================
 *  Header
 * ======================== */

.hero {
	height: var(--hero-height);
	padding-bottom: 1em;
	background-size: cover;
	display: flex;
	align-items: flex-end;
}

/* =========================
 *  Main
 * ======================== */

/* =========================
 *  Footer
 * ======================== */

.footer {
	padding: 0.25em 0;
	background: var(--text-main);
	color: var(--text-inverse);
	text-align: center;
}
