.header-blog {
	.navbar {
		background: $clr-navbar;
	}
	.hero {
		height: $hero-height;
		background-image: url('../../images/blog-header-1.jpg');
		background-size: cover;
	}
}

.blog {
	.blog-img {
		transform: translate(2.5%, -5%);
	}
	.blog-header {
		margin: 2em 0;
		text-align: left;
		.blog-meta {
			margin-top: 0;
			font-style: italic;
			color: $text-secondary;
		}
	}
}
