.header-blog {
	.hero {
		background-image: url('../../images/blog-header-1.jpg');
	}
}

/* Blog page layout */
.container-blog-page {
	--blog-main-y-offset: -10rem;
	--aside-width: 20rem;
	display: grid;

	@media (min-width: $desktop) {
		grid-template-columns: var(--aside-width) 2fr;
		grid-template-rows: auto 1fr;
		gap: Min(Max(1em, 5vw), 3em);

		main {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
			// blog-image max width
			max-width: 975px;
			margin-top: var(--blog-main-y-offset);
			margin-right: calc(-1 * var(--px) + var(--shadow-offset));
			margin-bottom: 2rem;

			.blog-body,
			.blog-comments,
			.form-blog {
				margin-right: var(--px);
				padding-left: 1em;
			}

			.form-blog {
				.form-inputs {
					flex-direction: column;
					// keep the direction until form becomes wider
					@media (min-width: $desktop + 200px) {
						flex-direction: row;
					}
				}
			}
		}

		aside {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			align-items: start;
			padding: 2em var(--px-xs);
		}
	}
}

.blog {
	margin-bottom: 2rem;
	background: var(--bg-primary);

	.blog-img {
		transform: translate(
			var(--shadow-offset),
			calc(-1 * var(--shadow-offset))
		);
	}

	.blog-body {
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 1em;
		$border: 0.25rem solid var(--clr-accent);
		border-left: $border;
		border-bottom: $border;

		.blog-header {
			margin: 0 0 2em;
			text-align: left;
			.blog-meta {
				margin-top: 0;
				font-style: italic;
				color: var(--text-secondary);
				.meta-by {
					font-weight: bold;
				}
			}
		}
	}
}

.blog-comments {
	margin-top: 1rem;
	padding-left: 1em;

	.blog-comments-title {
		margin: 1em 0;
	}
}

.blog-comment {
	display: grid;
	grid-template-columns: minmax(3rem, 4rem) auto;
	grid-template-rows: auto auto;
	gap: 1em;

	margin-bottom: 3rem;

	.comment-title {
		color: var(--text-secondary);
	}

	.comment-user-img {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.comment-title {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		align-self: end;
	}

	.comment-body {
		grid-column: 1 / -1;
		grid-row: 2 / -1;
		p {
			margin-top: 0;
		}
	}

	@media (min-width: $desktop) {
		gap: 2em;

		.comment-user-img {
			grid-row: 1 / -1;
		}

		.comment-title {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			align-self: start;
		}

		.comment-body {
			position: relative;
			bottom: 1.5rem;
			grid-column: 2 / 3;
			grid-row: 2 / -1;
			p {
				margin-top: 0;
			}
		}
	}
}

.blog-info {
	padding: 2em var(--px);
	margin-bottom: 2rem;

	h2 {
		line-height: 1;
	}

	@media (min-width: $desktop) {
		margin-top: var(--py);
		padding-top: 0;

		// decorating image between sections
		&::before {
			content: '';
			display: block;
			position: relative;
			bottom: 1em;
			// wrapper padding + inner padding
			right: calc(var(--px) + var(--px-xs));
			// column width + wrapper padding - inner padding
			width: calc(var(--aside-width) + var(--px) - var(--px-xs));
			height: 20rem;
			background-image: url('../../images/side-bar-image.jpg');
			background-position: center;
		}
	}
}

.blog-info-about {
	margin: 1rem auto 3rem;
}

.blog-info-recent {
	.recent-posts {
		margin-top: 1em;
		padding-left: 0.5rem;

		li::before {
			content: '•';
			padding-right: 1em;
			color: var(--clr-primary);
		}
	}
}
