.header-home {
	background: url('../../images/home-image-1.jpg');
	background-size: cover;
	background-position: center;

	.hero-main {
		width: 100%;
		min-height: var(--hero-main-height);
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			// text-align: center;
			width: min-content;
			position: relative;
			// align h1 centered around "planted"
			left: 5%;
		}
	}

	@media (min-width: $desktop) {
		position: relative;
		&::before {
			--size: Min(Max(20rem, calc(6rem + 33vw)), 30rem);

			content: '';
			position: absolute;
			right: 0;
			bottom: calc(-0.1 * var(--size));
			width: var(--size);
			height: var(--size);
			background-image: url('../../images/header-box.jpg');
			background-image: cover;
			background-position: center;
		}
	}
}

.about {
	min-height: var(--hero-main-height);
	// give little more attention than other sections by adding more vertical space
	padding: calc(var(--py) * 1.5) 0;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		max-width: 55rem;
	}
}

.events {
	overflow-x: hidden;
	.container-events {
		display: flex;
		flex-direction: column;
		align-items: center;
		// remove horizontal padding set in container class
		padding: 0;
	}
	.card {
		margin-bottom: 2em;
	}

	// make shadow shorter than image
	.card-img::after {
		height: calc(100% * 0.95);
		// shadow element already has position: absolute;
		top: 5%;
	}

	@media (min-width: $desktop) {
		// let card image overflow over other sections
		overflow-x: initial;
		.container-events {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		.card {
			max-width: 32rem;
			margin-bottom: 0;
		}

		--img-offset: 2rem;

		.card:first-of-type {
			padding-right: 1em;
			position: relative;
			bottom: var(--img-offset);

			.card-body {
				padding-left: var(--px);
				padding-bottom: 1em;
				text-align: right;
			}
		}

		.card:last-of-type {
			padding-left: 1em;
			position: relative;
			top: var(--img-offset);
			.card-img {
				order: 2;
				// remove horizontal scroll
				position: relative;
				right: calc(var(--img-offset) / 2);
			}
			.card-body {
				padding-top: -var(--py);
				padding-right: var(--px);
				padding-bottom: 3rem;

				text-align: left;
			}
		}
	}
}

.features {
	background: var(--bg-primary);
	padding: var(--py) 0;
	.container-feature {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.feature-item {
		flex: 1 1 23rem;
		margin-top: 2rem;
	}

	@media (min-width: $desktop) {
		.feature-item {
			text-align: left;
			.feature-heading {
				justify-content: flex-start;
			}
			p {
				padding-left: 3.5rem;
			}
		}
	}
}

.founder {
	&::before {
		content: '';
		display: block;
		height: 100vw;
		max-height: 500px;
		background-image: url('../../images/banner-image.jpg');
		background-position: 18%;
	}
	.container-founder {
		padding-top: var(--py);
		padding-bottom: var(--py);
		display: flex;
		flex-direction: column;
		align-items: center;
		background: var(--bg-primary);
		position: relative;
		padding-bottom: 3rem;
		.founder-img {
			$size: 15rem;
			width: $size;
			height: $size;
			// don't shrink in the flex box
			flex-shrink: 0;
			// firefox injects margin-top: 2rem; inline on image-wrappers
			margin-top: 0 !important;
		}
	}
	h2.heading-lg {
		// remove spacing defined in heading-lg class
		letter-spacing: 0;
	}

	@media (min-width: $desktop) {
		&::before {
			background-position: center;
		}
		.container-founder {
			flex-direction: row;
		}
		.founder-img {
			align-self: flex-start;
		}
		.founder-content {
			text-align: left;
			padding-left: var(--px);
			// override padding from card class
			padding-top: 0;
		}
	}
}

.gallery {
	padding: var(--py) 0;
	ul {
		display: flex;
		width: 100%;
		margin: 0 auto;
		overflow-x: hidden;
		.gallery-item {
			// don't shrink and just overflow
			flex: 1 0 200px;
			&:not(:last-of-type) {
				margin-right: 1rem;
			}
		}
	}
}
