.about {
	height: var(--hero-main-height);
	padding: 4rem 0;
	background-color: var(--bg-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		max-width: 55rem;
	}
}

.events {
	display: flex;
	flex-direction: column;
	// remove padding set in container class
	padding: 0;

	// make shadow shorter than image
	.card-img::after {
		height: calc(100% * 0.95);
		// shadow element already has position: absolute;
		top: 5%;
	}

	@media (min-width: $desktop) {
		flex-direction: row;
		justify-content: space-between;
		.card {
			max-width: 32rem;
		}

		--img-offset: 2rem;

		.card:first-of-type {
			padding-right: 1em;
			position: relative;
			bottom: var(--img-offset);
			.card-img {
				position: relative;
				// shadow gets hidden under about section background
			}
			.card-body {
				padding-left: var(--px);
				padding-bottom: 1em;
				text-align: right;
			}
		}

		.card:last-of-type {
			padding-left: 1em;
			position: relative;
			top: var(--img-offset);
			.card-img {
				order: 2;
			}
			.card-body {
				padding-top: -var(--py);
				padding-right: var(--px);
				padding-bottom: 3rem;

				text-align: left;
			}
		}
	}
}

.features {
	background: var(--bg-secondary);
	padding: var(--py) 0;
	.container-feature {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.feature-item {
		flex: 1 1 23rem;
		margin-top: 2rem;
	}

	@media (min-width: $desktop) {
		.feature-item {
			text-align: left;
			.feature-heading {
				justify-content: flex-start;
			}
			p {
				padding-left: 3.5rem;
			}
		}
	}
}

.founder {
	&::before {
		content: '';
		display: block;
		height: 100vw;
		max-height: 500px;
		background-image: url('../../images/banner-image.jpg');
		background-position: 18%;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: var(--bg-secondary);
		// place container "behind" the image shadow
		position: relative;
		z-index: -100;
		padding-bottom: 3rem;
		.founder-img {
			$size: 15rem;
			width: $size;
			height: $size;
			margin-top: 2rem;
		}
	}
	h2.heading-lg {
		// remove spacing defined in heading-lg class
		letter-spacing: 0;
	}
}

.gallery {
	padding: 3rem 0;
	ul {
		display: flex;
		width: 100%;
		overflow-x: hidden;
		.gallery-item {
			// don't shrink and just overflow
			flex: 1 0 200px;
			margin-right: 1rem;
		}
	}
}
