.header-home {
	background: url('../../images/home-image-1.jpg');
	background-size: cover;
	background-position: center;

	.hero-main {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		min-height: var(--hero-main-height);

		h1 {
			position: relative;
			width: min-content;
			// align h1 centered around "planted"
			left: 5%;
			animation: fade-in 1s ease forwards;

			span {
				display: inline-block;
				opacity: 0;
				animation: fade-in-up 1s ease forwards;
				animation-delay: 0.5s;
			}
		}
	}

	@media (min-width: $desktop) {
		position: relative;
		&::before {
			--size: Min(Max(20rem, calc(6rem + 33vw)), 30rem);

			content: '';
			position: absolute;
			right: 0;
			bottom: calc(-0.1 * var(--size));
			width: var(--size);
			height: var(--size);
			background-image: url('../../images/header-box.jpg');
			background-image: cover;
			background-position: center;
		}
	}
}

.about {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: var(--hero-main-height);
	// give little more attention than other sections by adding more vertical space
	padding: calc(var(--py) * 1.5) 0;

	p {
		max-width: 55rem;
	}
}

.events {
	overflow-x: hidden;

	.container-events {
		display: flex;
		flex-direction: column;
		align-items: center;

		// remove horizontal padding set in container class
		padding: 0;
	}

	.card {
		margin-bottom: 2em;
	}

	// make shadow shorter than image
	.card-img::after {
		height: calc(100% * 0.95);
		// shadow element already has position: absolute;
		top: 5%;
	}

	@media (min-width: $desktop) {
		// let card image overflow over other sections
		overflow-x: initial;

		.container-events {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		.card {
			max-width: 32rem;
			margin-bottom: 0;
		}

		--img-offset: 2rem;

		.card:first-of-type {
			position: relative;
			bottom: var(--img-offset);
			padding-right: 1em;

			.card-body {
				padding-left: var(--px);
				padding-bottom: 1em;
				text-align: right;
			}
		}

		.card:last-of-type {
			position: relative;
			top: var(--img-offset);
			padding-left: 1em;

			.card-img {
				// remove horizontal scroll
				position: relative;
				right: calc(var(--img-offset) / 2);

				order: 2;
			}

			.card-body {
				padding-top: -var(--py);
				padding-right: var(--px);
				padding-bottom: 3rem;

				text-align: left;
			}
		}
	}
}

.features {
	background: var(--bg-primary);
	padding: var(--py) 0;

	.container-feature {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.feature-item {
		flex: 1 1 23rem;
		margin-top: 2rem;
	}

	@media (min-width: $desktop) {
		.feature-item {
			text-align: left;

			.feature-heading {
				justify-content: flex-start;
			}

			p {
				padding-left: 3.5rem;
			}
		}
	}
}

.founder {
	&::before {
		content: '';
		display: block;
		height: 100vw;
		max-height: 500px;
		background-image: url('../../images/banner-image.jpg');
		background-position: 18%;
	}
	.container-founder {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: relative;
		padding-bottom: 3rem;
		padding-top: var(--py);
		padding-bottom: var(--py);
		background: var(--bg-primary);

		.founder-img {
			$size: 15rem;
			width: $size;
			height: $size;
			// Override inline-style `margin-top: 2rem;` on image-wrappers injected by FireFox (Why???)
			margin-top: 0 !important;
			// don't shrink in the flex box
			flex-shrink: 0;
		}
	}
	h2.heading-lg {
		// remove spacing defined in heading-lg class
		letter-spacing: 0;
	}

	@media (min-width: $desktop) {
		&::before {
			background-position: center;
		}

		.container-founder {
			flex-direction: row;
		}

		.founder-img {
			align-self: flex-start;
		}

		.founder-content {
			text-align: left;
			padding-left: var(--px);
			// override padding from card class
			padding-top: 0;
		}
	}
}

.gallery {
	padding: var(--py) 0;
	position: relative;
	--gallery-gutter: 1rem;
	.gallery-items-wrapper {
		overflow: hidden;
	}

	ul {
		--min-item-width: 200px;
		--gallery-item-width: max(
			calc((100% - 2 * var(--gallery-gutter)) / 3),
			var(--min-item-width)
		);

		display: flex;
		position: relative;
		right: 0;
		width: 100%;
		margin: 0 auto;
		transition: right 300ms ease;

		.gallery-item {
			// don't shrink and just overflow
			flex: 1 0 Max(var(--gallery-item-width), var(--min-item-width));
			width: var(--gallery-item-width);
			&:not(:last-of-type) {
				margin-right: var(--gallery-gutter);
			}
		}
	}
}

.gallery-btn {
	position: absolute;
	top: 50%;
	i {
		font-size: Min(Max(1.2rem, 4vw), 2.5rem);
		opacity: 0.5;
		transition: all 200ms ease;
		&:hover {
			opacity: 1;
		}
		&:active {
			position: relative;
			top: 1px;
			left: 1px;
		}
	}

	--half-px: calc(var(--px) / 2);
	&.gallery-btn-right {
		right: var(--half-px);
		transform: translateX(50%);
	}

	&.gallery-btn-left {
		left: var(--half-px);
		transform: translateX(-50%);
	}
}
