.container-main {
	margin-top: 3rem;

	@media (min-width: $desktop) {
		display: flex;
		align-items: flex-start;

		margin-top: 0;

		.form-shadow-wrapper {
			position: relative;
			bottom: 11rem;
			flex-grow: 1;
		}

		.contact {
			order: -1;
			margin-right: 2rem;
		}
	}
}

.hero-contact {
	background-image: url('../../images/contact-header-1.jpg');

	h1 {
		width: min-content;
	}
}

.form-contact {
	padding: 2rem;
	background-color: var(--bg-secondary);

	&::after {
		// remove accent border;
		display: none;
	}
}

.contact {
	margin-top: 2rem;
	padding: 3rem 0;
	text-align: center;

	@media (min-width: $desktop) {
		.socials {
			justify-content: flex-start;

			a {
				font-size: 1.25rem;
				padding: 0.5em;
			}
		}
		.contact-info {
			padding: 1rem;
			padding-top: 0;

			.contact-email {
				margin-top: 0;
				font-size: 1.1rem;
				letter-spacing: 1px;
			}
		}
		text-align: left;
	}
}

.contact-email {
	display: inline-block;
	margin-top: 1em;
}

.address {
	p {
		margin-top: 0.5em;
	}
}
