.container-main {
	@media (min-width: $desktop) {
		display: flex;
		align-items: flex-start;
		.form-shadow-wrapper {
			position: relative;
			bottom: 10rem;
			flex-grow: 1;
		}

		.contact {
			order: -1;
			margin-right: 3rem;
		}
	}
}

.hero-contact {
	background-image: url('../../images/contact-header-1.jpg');
	h1 {
		width: min-content;
	}
}

.form-contact {
	padding: 2rem;
	background-color: var(--bg-secondary);

	&::after {
		// remove accent border;
		display: none;
	}
}

.contact {
	margin-top: 2rem;
	text-align: center;
	padding: 3rem 0;
	.socials {
		justify-content: center;
	}
	@media (min-width: $desktop) {
		.socials {
			justify-content: flex-start;
			a {
				font-size: 1.25rem;
				padding: 0.5em;
			}
		}
		.contact-info {
			padding: 1rem;
			.contact-email {
				margin-top: 0;
			}
		}
		text-align: left;
	}
}

.contact-email {
	display: inline-block;
	margin-top: 1em;
	// @include text-style($fz: 1.2rem, $fw: bold, $color: var(--text-main));
}

.address {
	p {
		margin-top: 0.5em;
	}
}
