html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	// 18px - smaller on mobile (reference: Medium)
	// font-size: Min(125%, Max(112.5%, 10vw));
	font-size: 112.5%;

	@media (min-width: $desktop) {
		// 20px
		font-size: 125%;
	}
}
body {
	margin: 0;
	font-family: var(--ff-body), sans-serif;
	line-height: 1.6;
	background-color: var(--bg-primary);
	min-height: 100vh;
}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}

figcaption,
figure,
main {
	display: block;
}
figure {
	margin: 1em 40px;
}

a,
button {
	cursor: pointer;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
	// to enable height-related rules + transitionY
	display: inline-block;
	color: var(--text-inverse);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}

button {
	font: inherit;
	border: 0;
	background: transparent;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

input,
textarea {
	background: transparent;
}

input {
	border: 0;
	border-bottom: var(--form-border);
}

textarea {
	border: var(--form-border);
}

button,
select {
	text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0;
	border: 0;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[hidden] {
	display: none;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}
