h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 1em 0 0;
}

.heading-xxl {
	@include text-style($fz: 3.5rem, $fw: 400, $lh: 0.8, $color: $text-inverse);
}

.heading-xl {
	@include text-style($fz: 4rem, $fw: bold, $lh: 1.15);
}

.heading-whatis {
	@include text-style($fz: 2rem, $fw: bold, $ls: 0.065rem, $lh: 1.4);
}

.heading-lg {
	@include text-style($fz: 2.15rem, $fw: bold, $ls: 0.065rem);
}

.heading-md {
	@include text-style($fz: 1.6rem, $fw: bold, $ls: 0.05rem);
}

.heading-sm {
	@include text-style($fz: 1rem, $fw: bold);
}

.form-label {
	@include text-style($fz: 1rem, $fw: light);
}

@media (min-width: $tablet) {
	.heading-xxl {
		@include text-style(
			$fz: 8.3rem,
			$fw: 400,
			$lh: 0.8,
			$color: $text-inverse
		);
	}

	.heading-xl {
		@include text-style($fz: 4rem, $fw: bold, $lh: 1.15);
	}

	.heading-whatis {
		@include text-style($fz: 2.815rem, $fw: bold, $ls: 0.065rem);
	}
	.heading-lg {
		@include text-style($fz: 2.15rem, $fw: bold, $ls: 0.065rem);
	}

	.heading-md {
		@include text-style($fz: 1.6rem, $fw: bold, $ls: 0.05rem);
	}

	.heading-sm {
		@include text-style($fz: 1rem, $fw: bold);
	}

	.form-label {
		@include text-style($fz: 1rem, $fw: light);
	}
}
