.header {
  .logo {
    color: $text-inverse;
    font-size: 1.25rem;
  }
}

.header-home {
  background: url('../../images/home-image-1.jpg');
  background-size: cover;
  background-position: center;

  .hero-main {
    width: 100%;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      width: min-content;
    }
  }
}
