$tablet: 700px;
$desktop: 1200px;
$wide: 2000px;

// colors
$clr-primary: #0e902d;
$clr-accent: #f8e71c;
$text-main: #2c2c2c;
$text-secondary: #074115;
$text-inverse: #f0efed;

// font
$ff-body: Roboto;
$ff-heading: 'Josefin Sans';
