/* =========================
 *  Variables
 * ======================== */
/* =========================
 *  Mixins
 * ======================== */
/* =========================
 *  Utils
 * ======================== */
.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

.accent {
  color: #f8e71c;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: Min(Max(1rem, 5vw), 3rem);
  padding-right: Min(Max(1rem, 5vw), 3rem);
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  position: relative;
}

.shadow::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8e71c;
  -webkit-transform: translate(5%, 5%);
          transform: translate(5%, 5%);
  z-index: -1;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 112.5%;
}

@media (min-width: 1000px) {
  html {
    font-size: 125%;
  }
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  font: inherit;
  border: 0;
  background: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 1em 0 0;
}

.heading-xxl {
  font-family: "Josefin Sans";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: 0px;
  color: #f0efed;
}

.heading-xl {
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 0px;
  color: #f8e71c;
}

.heading-whatis {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.065rem;
  color: #2c2c2c;
}

.heading-lg {
  font-family: "Josefin Sans";
  font-size: 2.15rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.065rem;
  color: #2c2c2c;
}

.heading-md {
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  color: #2c2c2c;
}

.heading-sm {
  font-family: "Josefin Sans";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0px;
  color: #2c2c2c;
}

.form-label {
  font-family: "Josefin Sans";
  font-size: 1rem;
  font-weight: light;
  line-height: 1.6;
  letter-spacing: 0px;
  color: #2c2c2c;
}

@media (min-width: 600px) {
  .heading-xxl {
    font-family: "Josefin Sans";
    font-size: 8.3rem;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: 0px;
    color: #f0efed;
  }
  .heading-xl {
    font-family: "Josefin Sans";
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: 0px;
    color: #2c2c2c;
  }
  .heading-whatis {
    font-family: "Josefin Sans";
    font-size: 2.815rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.065rem;
    color: #2c2c2c;
  }
  .heading-lg {
    font-family: "Josefin Sans";
    font-size: 2.15rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.065rem;
    color: #2c2c2c;
  }
  .heading-md {
    font-family: "Josefin Sans";
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    color: #2c2c2c;
  }
  .heading-sm {
    font-family: "Josefin Sans";
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0px;
    color: #2c2c2c;
  }
  .form-label {
    font-family: "Josefin Sans";
    font-size: 1rem;
    font-weight: light;
    line-height: 1.6;
    letter-spacing: 0px;
    color: #2c2c2c;
  }
}

/* =========================
 *  Navigation
 * ======================== */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1em;
  text-align: center;
}

.nav .nav-links {
  display: none;
  font-family: "Josefin Sans";
  text-transform: uppercase;
}

.nav .nav-links a {
  color: #2c2c2c;
}

@media (min-width: 600px) {
  .nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav.nav-modal .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav.nav-modal .nav-links li a {
  display: inline-block;
  padding: 1em;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .nav.nav-modal .nav-links {
    display: none;
  }
}

.nav.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav.navbar .nav-links {
  width: auto;
}

.nav.navbar .nav-links a {
  color: #f0efed;
}

/* =========================
 *  Header
 * ======================== */
.header .logo {
  color: #f0efed;
  font-size: 1.25rem;
}

.header-home {
  background: url("../../images/home-image-1.jpg");
  background-size: cover;
  background-position: center;
}

.header-home .hero-main {
  width: 100%;
  min-height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-home .hero-main h1 {
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

/* =========================
 *  Main
 * ======================== */
.about {
  padding: 4rem 0;
  background-color: #f0efed;
}

.features {
  background: #f0efed;
  padding: 4em 0;
}

.founder::before {
  content: '';
  display: block;
  height: 100vw;
  max-height: 500px;
  background-image: url("../../images/banner-image.jpg");
  background-position: 18%;
}

.founder .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0efed;
  position: relative;
  z-index: -100;
  padding-bottom: 3rem;
}

.founder .container .founder-img {
  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
}

.gallery {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.gallery .gallery-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  margin-right: 1rem;
}

/* =========================
 *  Footer
 * ======================== */
.footer {
  padding: 0.25em 0;
  background: #2c2c2c;
  color: #f0efed;
  text-align: center;
}

.header-blog .navbar {
  background: #222;
}

.header-blog .hero {
  height: 15rem;
  background-image: url("../../images/blog-header-1.jpg");
  background-size: cover;
}

.menu-btn {
  position: fixed;
  top: 0.5em;
  right: 1em;
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0.5em;
  z-index: 1000;
}

.menu-btn span {
  width: 80%;
}

.menu-btn::before {
  width: 100%;
}

.menu-btn::after {
  width: 50%;
}

.menu-btn::before, .menu-btn::after {
  content: '';
}

.menu-btn span, .menu-btn::before, .menu-btn::after {
  display: block;
  height: 3px;
  background-color: #f0efed;
  -webkit-box-shadow: 1px 1px 0 1.5px black;
          box-shadow: 1px 1px 0 1.5px black;
}

.menu-toggler:checked + .menu-modal {
  opacity: 1;
  z-index: 500;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.btn {
  display: inline-block;
  margin-top: 1.5em;
  background: #0e902d;
  padding: 0.5em 1.5em;
  font-family: "Josefin Sans";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0px;
  color: #f0efed;
}

.card {
  width: 100%;
  overflow-x: hidden;
}

.card .card-img {
  width: 100%;
  -webkit-transform: translate(-2.5%, -2.5%);
          transform: translate(-2.5%, -2.5%);
}

@media (min-width: 600px) {
  .card {
    width: 50%;
  }
}

.card-body {
  padding: 2em Min(Max(1rem, 5vw), 3rem);
  text-align: center;
}

.feature-item {
  text-align: center;
}

.feature-item:not(:last-of-type) {
  margin-bottom: 2em;
}

.feature-item .feature-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-item .feature-heading .feature-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --size: 2em;
  width: var(--size);
  height: var(--size);
  background-color: #f8e71c;
  font-size: 1.2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
